* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 75px;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo_search {
  margin-left: 40px;
}

.logo_header_right:not(:last-child) {
  margin-right: 32px;
}

.promo {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo_img {
  width: 50%;
}

.promo_image {
  width: 100%;
}

.promo_text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.promo_content {
  border-left: 12px solid #F16D7F;
}

.promo_h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  padding-left: 16px;
}

.promo_h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  padding-left: 16px;
}

.promo_span {
  color: #F16D7F;
}

.catalog {
  margin-top: 64px;
  margin-bottom: 96px;
}

.catalog_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.catalog_item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 260px;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog_item_1 {
  background-image: url(../img/img-catalog-1.jpg);
}

.catalog_item_2 {
  background-image: url(../img/img-catalog-2.jpg);
}

.catalog_item_3 {
  background-image: url(../img/img-catalog-3.jpg);
}

.catalog_bottom {
  height: 180px;
  background-image: url(../img/img-catalog-4.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog_h2 {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  font-weight: normal;
}

.catalog_h1 {
  color: #F16D7F;
  font-weight: normal;
  font-size: 24px;
  line-height: 19px;
}

.content_heading {
  margin-bottom: 48px;
  text-align: center;
}

.content_header {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.heading_text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.product {
  background: #F8F8F8;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.product_img {
  width: 100%;
}

.product_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_info {
  padding-left: 16px;
  padding-right: 16px;
}

.product_header {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 12px;
  display: block;
}

.product_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.price {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
  padding-bottom: 20px;
}

.product:hover .product_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product:hover .product_img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.button {
  text-align: center;
  display: block;
  margin-top: 40px;
}

.product_add {
  position: absolute;
  top: 188px;
  left: 111px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFFFFF;
  width: 139px;
  height: 44px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.product_add:hover {
  background-color: #FFFFFF;
  color: #000;
}

.product_add:hover .product_cart path {
  fill: black;
}

.product_cart {
  margin-right: 11px;
}

.product_button {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product_button:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.footer {
  margin-top: 96px;
}

.footer_top {
  height: 341px;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer_top_header {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 24px;
  margin-bottom: 16px;
}

.footer_top_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer_middle {
  height: 448px;
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_middle_info {
  width: 360px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer_middle_text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.footer_middle_photo {
  margin-bottom: 30px;
  width: 96px;
  height: 96px;
}

.subscription {
  width: 557px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.subscription_h1 {
  font-size: 24px;
  text-align: center;
  color: #222222;
}

.subscription_h2 {
  font-size: 20px;
  text-align: center;
  color: #222222;
  font-weight: normal;
  margin-bottom: 32px;
}

.input_subscription {
  background: #E1E1E1;
  width: 259px;
  height: 49px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: none;
  color: #222222;
  font-size: 14px;
  padding-left: 22px;
  outline: none;
}

.button_subscription:hover {
  background: #E05C6E;
}

.button_subscription {
  height: 49px;
  width: 100px;
  background: #F16D7F;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  margin-left: -3px;
  cursor: pointer;
  outline: none;
}

.footer_bottom {
  height: 79px;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.color_pink_svg:hover {
  fill: #F16D7F;
}

.line_arrivals {
  height: 148px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrivals {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  font-weight: normal;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.navigation_list:not(:last-child)::after {
  content: '/';
  margin-left: 8px;
  margin-right: 8px;
}

.navigation_list:last-child a {
  color: #F16D7F;
}

.box_filter {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 51px;
  margin-bottom: 64px;
}

.filter_text {
  font-weight: 600;
  color: #000000;
  padding-left: 16px;
}

.filter_text_icon {
  margin-right: 304px;
  margin-left: 10px;
}

.filter_icons {
  margin-left: 10px;
  margin-right: 28px;
}

.pagination_elemet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EBEBEB;
  width: 282px;
  height: 44px;
}

.page-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EBEBEB;
}

.active {
  color: #F16D7F;
}

.go_another_page {
  color: #000000;
  font-size: 28px;
}

.page-item:hover {
  background: #7e97e2;
}

.page-item:not(:last-child) {
  margin-right: 17px;
}

.product_description {
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide_product {
  background: #F7F7F7;
  height: 777px;
  width: 100vw;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide_select:hover .select {
  fill: #F16D7F;
}

.slide_image {
  height: 724px;
  width: 597px;
  margin-right: 442px;
  margin-left: 442px;
}

.for_product_page {
  margin-top: 128px;
}

.cart {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  height: 601px;
  width: 1140px;
  margin-top: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
}

.cart_heading_category {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.cart_heading_product {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.cart_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  max-width: 555px;
  margin-top: 48px;
  margin-bottom: 32px;
}

.cart_line_1 {
  background: #EF5B70;
  height: 3px;
  width: 63px;
  border-color: #EF5B70;
  margin-top: 12px;
  margin-bottom: 12px;
}

.cart_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.cart_line_2 {
  border: 1px solid #EAEAEA;
  width: 641px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.cart_filter {
  margin-top: 0;
  margin-bottom: 48px;
}

.functional {
  margin-right: 22px;
}

.product_button:hover .functional path {
  fill: #FFFFFF;
}

/*@media (max-width: 1024px)
 .center
 padding-left: 16px
 padding-right: 16px

    .promo_h1
        font-size: 44px
        line-height: 53px

    .promo_h2
        font-size: 28px
        line-height: 33px

    .catalog
        margin-top: 20px
        margin-bottom: 155px

    &_top
        display: flex
        gap: 20px
        margin-bottom: 20px

    &_item
        height: 168px
        max-width: 232px

    &_bottom
        height: 116px
        max-width: 734px

    .content_heading
        margin-bottom: 73px

    .products
        gap: 16px

    .group_products
        gap: 16px

    .button
        margin-top: 24px

    .footer
        margin-top: 65px

    &_top
        height: 610px
        display: flex
        flex-direction: column

    &_top_text
        max-width: 300px

    .services
        margin-top: 48px

    .footer_middle
        height: 581px
        background-size: cover
        justify-content: end
        flex-direction: column

    &_info
        margin-top: 64px

    .subscription
        margin-top: 48px

    @media (max-width: 667px)
    .center
        padding-left: 16px
        padding-right: 16px

    .promo
        height: 363px
        justify-content: center

    &_h1
        font-size: 38px
        line-height: 46px

    &_h2
        font-size: 22px
        line-height: 24px

    &_img
        display: none

    .logo_header_right:nth-child(2)
        display: none

    .logo_header_right:nth-child(3)
        display: none

    .catalog_top
        display: flex
        gap: 32px
        margin-bottom: 32px
        flex-direction: column

    .catalog
        margin-top: 64px
        margin-bottom: 64px

    &_item
        height: 247px
        max-width: 343px

    &_bottom
        height: 111px
        max-width: 343px

    .content_heading
        margin-bottom: 64px

    .button
        margin-top: 35px

    .footer
        margin-top: 96px

    &_middle
        height: 550px
        background-position: inherit

    &_middle_info
        width: 343px

    &_middle_text
        font-size: 18px
        line-height: 22px

    .subscription
        margin-top: 59px
        width: 271px

    &_h1
        font-size: 20px

    &_h2
        font-size: 14px

    .input_subscription
        width: 172px

    .button_subscription
        width: 95px

    .footer_bottom
        height: 143px
        flex-direction: column-reverse
        justify-content: center

    .copyright
        margin-top: 40px*/
/*# sourceMappingURL=style.css.map */